
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
body {

    background-color: rgb(143, 143, 143);
    font-family: 'Snowburst One', cursive;
    overflow-y: hidden;
}

.title {

color: black;
font-size: 3rem;
text-align: center;

}

.subtitle{

    color: black;
font-size: 2rem;
text-align: center;
}
.branch {
    transform: translate(145%, -50%);
}

.tree {

    transform: translate(0, -75%);
    position: absolute;
    height: 90%;
}
.signContainer{

    .sign {

        transform: translate(200%, -45%);
        position: absolute;
    }
    p{
        color:black;
        font-size: 1.4rem;
        position: relative;
        z-index: 2;
        font-weight: bolder;
        &:hover{
            color:green;
        }  
    }
    .signin{
        transform: translate(1320%, -460%);
        font-size: 1.5rem;
        
    }
    .signup {
        transform: translate(1270%, -375%);
    }
    .rules {
        transform: translate(1350%, -325%);
        
    }
    .about {

        transform: translate(1320%, -300%) rotate(-0.02turn);
        font-size:1.3rem;
        
    }
    .exit {
        transform: translate(1330%, -200%);
    }
}

.herbalContainer{
    height:100%;
    position: absolute;
    z-index: 1;
    .herbal {
        
        width:100%;
        transform: translate(0, 20%);
        
    }
}

// @font-face {
//     font-family: "Snowburst";
//     src: url("/fonts/SnowburstOne-Regular.ttf") format("ttf")
//    }